@use '/src/styles/variables.scss' as vars;

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.article-hero {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &-image {
    position: absolute;
    width: 100%;
    height: 245px;
    object-fit: cover;
    object-position: 50% 30%;
    inset: 0;
  }
}

.article-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 75px auto 0;
}

@media (min-width: 768px) {
  .article-body-wrapper {
    margin: 150px auto 0;
  }
}