.articles-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.articles-grid {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 100%;

  li {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .articles-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
