$main-bg-color: #FFFFFF;
$border-color: #EAEAEA;
$card-height: 530px;
$card-width: 400px;
$box-shadow: 0px 8px 24px 0px #0000000D;
$main-text-color: #363636;
$article-text-color: #000000;
$accent-color: #ffff00;


