@use '/src/styles/variables.scss' as vars;

.filter {
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: vars.$main-bg-color;

  &-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 20px;
    border: 1px solid vars.$border-color;
    border-radius: 5px;
    box-shadow: vars.$box-shadow;
  }
  &-input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 150%;
    outline: none;
    border: none;
    padding-right: 20px;

    &::placeholder {
      transition: opacity 0.2s ease;
    }

    &:focus::placeholder {
      opacity: 0;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  &-icon {
    opacity: 0.7;
    width: 20px;
    height: 20px;
  }
}

.filter-clear {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}