@use '/src/styles/variables.scss' as vars;

.filter {
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: vars.$main-bg-color;

  &-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 20px;
    border: 1px solid vars.$border-color;
    border-radius: 5px;
    box-shadow: vars.$box-shadow;
  }
  &-input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 150%;
    outline: none;
    border: none;
  }

  &-icon {
    opacity: 0.7;
    width: 20px;
    height: 20px;
  }
}
