@use '/src/styles/variables.scss' as vars;

.card {
  width: vars.$card-width;
  height: vars.$card-height;
  border: 1px solid vars.$border-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &-image {
    box-sizing: border-box;

    &__img {
      display: block;
      object-fit: cover;
      width: 400px;
      height: 217px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 25px;
    box-sizing: border-box;
  }

  &-date {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: vars.$main-text-color;
    font-size: 14px;
    height: 21px;
    line-height: 100%;
    margin-bottom: 24px;
    align-items: center;
    opacity: 0.6;
     
  }

  &-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
  }

  &-summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
  }
}

.card-button {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.button-read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: vars.$main-text-color;

  &:hover {
    opacity: 0.8;
  }
}
