@use '/src/styles/variables.scss' as vars;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: vars.$card-width;
  height: auto;
  min-height: vars.$card-height;
  border: 1px solid vars.$border-color;
  border-radius: 5px;
  box-shadow: vars.$box-shadow;
  background-color: vars.$main-bg-color;
  transition: transform 0.3s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.03);
  }

  &-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
  &-image {
    box-sizing: border-box;
    width: 100%;
    height: 217px;
    overflow: hidden;

    &__img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    box-sizing: border-box;
  }

  &-date {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: vars.$main-text-color;
    font-size: 14px;
    height: 21px;
    line-height: 100%;
    margin-bottom: 24px;
    align-items: center;
    opacity: 0.6;
  }

  &-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
  }

  &-summary {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 20px;
  }
}

.card-button {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.button-read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: vars.$main-text-color;

  &:hover {
    opacity: 0.8;
  }
}

@media (min-width: 1240px) {
  .card {
    &-title {
      font-size: 24px;
    }

    &-summary {
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .card-content {
    padding: 25px;
  }
}
