*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
section,
main,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
form,
hr
 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
}