@use '/src/styles/variables.scss' as vars;

.not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$main-bg-color;
  padding: 24px;

  &-content {
    width: 100%;
    max-width: 1290px;
    text-align: center;
  }

  &-code {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 16px;
    color: vars.$main-text-color;
    opacity: 0.3;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &-text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 32px;
    color: vars.$main-text-color;
  }
}
